@import "tailwindcss";
@import "@fontsource/cascadia-code";

body{
    background: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
    font-family: 'Cascadia Code', monospace;
}

@layer utilities {
    .group:hover .card:not(:hover) {
      filter: blur(10px);
      transform: scale(0.9);
    }
  }
